@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather&family=Noto+Serif+KR&family=Playfair+Display&family=Gowun+Dodum&family=Nanum+Gothic:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --font-merriweather: "Merriweather", "sans-serif";
  --font-playFair: "Playfair Display", "sans-serif";
  --font-nanoSerifKr: "Noto Serif KR", "sans-serif";
  --font-dancingScript: "Dancing Script", "sans-serif";
  --font-gowunDodum: "Gowun Dodum", "sans-serif";
  --font-blackoutOldskull: "BlackoutOldskull", "sans-serif";
  --font-nanumGothic: "Nanum Gothic", "sans-serif";

  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }

  --color-primary: #F9A8D4;
}

body {
  font-family: 'Gowun Dodum', sans-serif;
}

@font-face {
  font-family: 'BlackoutOldskull';
  font-style: normal;
  font-weight: 400;
  src: url("@assets/fonts/BlackoutOldskull.ttf") format("truetype");
}

@layer components {
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
}

@layer utilities {
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
}