@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather&family=Noto+Serif+KR&family=Playfair+Display&family=Gowun+Dodum&display=swap");
@import "tailwindcss";

@theme {
  --font-merriweather: "Merriweather", "sans-serif";
  --font-playFair: "Playfair Display", "sans-serif";
  --font-nanoSerifKr: "Noto Serif KR", "sans-serif";
  --font-dancingScript: "Dancing Script", "sans-serif";
  --font-gowunDodum: "Gowun Dodum", "sans-serif";
  --font-blackoutOldskull: "BlackoutOldskull", "sans-serif";

  --animate-wave: 'wave 10s linear infinite';

  @keyframes wave {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-160px);
    }
  }

  --color-primary: #fbcfe8;
}

body {
  font-family: 'Gowun Dodum', sans-serif;
}

@font-face {
  font-family: 'BlackoutOldskull';
  font-style: normal;
  font-weight: 400;
  src: url("@assets/fonts/BlackoutOldskull.ttf") format("truetype");
}

@layer components {
  .parallax > use {
    animation: wave 10s linear infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: 0s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: 2.5s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: 5s;
  }
}

@layer utilities {
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
}